# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
azure-common==1.1.28
azure-core==1.29.5
azure-identity==1.14.1
azure-search-documents==11.0.0
azure-storage-blob==12.18.3
beautifulsoup4==4.12.2
blinker==1.6.3
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.1
decorator==5.1.1
distro==1.8.0
django==4.2.7
dnspython==2.4.2
easyocr==1.7.1
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.1
faker==19.11.0
fastapi==0.104.1
favicon==0.7.0
filelock==3.13.1
flask==3.0.0
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.10.0
gitdb==4.0.11
gitpython==3.1.40
h11==0.14.0
htbuilder==0.6.2
httpcore==1.0.1
httpx==0.25.1
idna==3.4
image==1.5.33
imageio==2.32.0
importlib-metadata==6.8.0
ipython==8.18.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-path==0.3.2
kiwisolver==1.4.5
lazy-loader==0.3
lazy-object-proxy==1.9.0
lxml==4.9.3
markdown==3.5
markdown-it-py==3.0.0
markdownlit==0.0.7
markupsafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==10.1.0
motor==3.3.2
mpmath==1.3.0
msal==1.24.1
msal-extensions==1.0.0
msrest==0.7.1
multidict==6.0.4
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.1
oauthlib==3.2.2
openai==0.28.0
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
packaging==23.2
pandas==2.1.1
parse==1.20.0
parso==0.8.3
pathable==0.4.3
pillow==9.5.0
pip==23.3.1
portalocker==2.8.2
prance==23.6.21.0
prompt-toolkit==3.0.41
protobuf==4.24.4
pure-eval==0.2.2
pyarrow==13.0.0
pyclipper==1.3.0.post5
pycparser==2.21
pydantic==1.10.13
pydantic-core==2.10.1
pydeck==0.8.1b0
pygments==2.16.1
pyjwt==2.8.0
pymdown-extensions==10.3.1
pymongo==4.6.1
pympler==1.0.1
pyparsing==3.1.1
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pyyaml==6.0.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rich==13.6.0
rpds-py==0.10.6
ruamel-yaml==0.18.5
ruamel-yaml-clib==0.2.8
scikit-image==0.22.0
scipy==1.11.3
semantic-kernel==0.3.15.dev0
setuptools==68.0.0
shapely==2.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.27.0
streamlit==1.27.2
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.4
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy==1.12
tenacity==8.2.3
tifffile==2023.9.26
toml==0.10.2
toolz==0.12.0
torch==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.0
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.7
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.12
werkzeug==3.0.1
wheel==0.41.2
yarl==1.9.3
zipp==3.17.0
